Package: com.strejda603.airmailpremium
Name: Airmail (Premium)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Makes Airmail great again ;-)!
Maintainer: strejda603
Author: strejda603
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
