* {
  box-sizing: border-box;
}

body {
  margin: 10px 0;
  background: #ffffff;
  color: black !important;
  font-family: "SF Pro Display", "SF Pro", "Helvetica Neue", "Roboto", "Segoe UI", Helvetica, Arial, Verdana, sans-serif !important;
}

@media (max-width: 450px) {
    h1.toptitle { 
      font-size: 32px;
    }
    h4.title { 
      font-size: 20px;
    }
    img.stacksIcon {
       width: 16%;
      height: 51%;
      margin: 30px 20px 0 10px;
    }
    p.description { font-size: 21px; }
    li { font-size: 12px; }
    a.awrapper { font-size: 22px;}
    span.swrapper { margin-left: 260px !important;}
    div.description {
      font-size: 14px;
    }
}

.bg-navbar {
    background: black;
}

hr.top {
  border: 1.2px solid black;
}

.toplogo {
  width: 90px;
  display: block;
  margin: 50px auto;
}

.topcontent {
  width: 350px !important;
  display: block;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 170px;
}

.wrapper {
}

.swrapper {
}

.row {
  padding: 1px 50px;
  margin-left: -500px;
}

.top {
  display: block;
  margin: 25px auto;
}

.content {
  padding-top: 500px !important;
}

.list-wrapper {
  background: #ffffff;
  margin-top: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cards-list {
  position: relative;
  padding: 15px 15px 50px;
  padding-bottom: calc(20px + env(safe-area-inset-bottom)); /* For iPhone X */
  max-width: 450px;
  margin: auto;
}

.card {
  word-break: break-word;
  position: relative;
  width: auto;
  border-radius: 20px !important;
  min-height: 100px;
  overflow: hidden;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
  margin: -100px 0 130px 0 !important;
}

.card.hover,
.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-content {
  position: relative;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  margin: 0 -70px 0 0;
  transition: border-radius 0.15s ease;
  border-radius: 20px;
  cursor: pointer;
}

.banner-holder { 
  margin-left: -15px;
  position: absolute;
  width: 445px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  position: relative;
  height: 170px;
  width: 100%;
  padding: 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}

.content-holder {
  display: flex;
  max-width: 800px;
  padding: 0 0 10px 0;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.inner-content {
  top: 1vh;
  margin: 30px 50px 0 0px;
  position: relative;
}

.info-holder {
  width: auto;
  display: flex;
  align-items: center;
}

.date-category {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  flex: 1;
  margin: -6px 1.4rem 0 0;
}

.title {
  position: relative;
  margin: 0 0 0 0;
  font-weight: bold;
}

.toptitle {
  width: auto;
  display: flex;
  margin: 80px auto;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.stacksIcon {
  width: 60px;
  height: 60px;
  margin: 27px 20px 0 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  opacity: 1.0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #b5b3b3;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.fab {
  padding: 0px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 50px;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}