Package: com.strejda603.moleskineactionssubscription
Name: Moleskine Actions (Subscription)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Patches subscription requirement for Moleskine Actions.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Section: Tweaks
Version: 1.0.1
Installed-Size: 104
