Package: com.strejda603.moleskineactionssubscription
Name: Moleskine Actions (Subscription)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Patches subscription requirement for Moleskine Actions.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Depiction: https://strejda603.github.io/description.html?id=com.strejda603.moleskineactionssubscription
Sileodepiction: https://strejda603.github.io/sileo-depictions/com.strejda603.moleskineactionssubscription.json
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
