Package: com.strejda603.noaaweatherradarpremium
Name: NOAA Weather Radar (Premium)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enables premium features.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Depiction: https://strejda603.github.io/description.html?id=com.strejda603.noaaweatherradarpremium
Sileodepiction: https://strejda603.github.io/sileo-depictions/com.strejda603.noaaweatherradarpremium
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
