Package: com.strejda603.noaaweatherradarpremium
Name: NOAA Weather Radar (Premium)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enables premium features.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
