Package: com.strejda603.moleskineactionssubscription
Name: Moleskine Actions (Subscription)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Patches subscription requirement for Moleskine Actions.
Maintainer: strejda603
Author: strejda603
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
