Package: com.strejda603.moleskineflowsubscription
Name: Moleskine Flow (Subscription)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Patches subscription requirement for Moleskine Flow.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Section: Tweaks
Version: 1.0.1
Installed-Size: 104
