Package: com.strejda603.moleskineflowsubscription
Name: Moleskine Flow (Subscription)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Patches subscription requirement for Moleskine Flow.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Depiction: https://strejda603.github.io/description.html?id=com.strejda603.moleskineflowsubscription
Sileodepiction: https://strejda603.github.io/sileo-depictions/com.strejda603.moleskineflowsubscription
Section: Tweaks
Version: 1.0.1
Installed-Size: 104
