Package: com.strejda603.pdfexpert7pro
Name: PDF Expert 7 (PRO)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enables PRO features.
Maintainer: strejda603 <strejda603@centrum.cz>
Author: strejda603 <strejda603@centrum.cz>
Depiction: https://strejda603.github.io/description.html?id=com.strejda603.pdfexpert7pro
Sileodepiction: https://strejda603.github.io/sileo-depictions/com.strejda603.pdfexpert7pro.json
Section: Tweaks
Version: 1.0.0
Installed-Size: 104
